@import '../jobroller/styles/pro.css';

/* =Anchors
---------------------------------------------------------------------------------- */
a, ol.jobs dd strong a {
	color: #c24649;
	text-decoration: none;
	}
a:hover, a:focus {
	color: #c24649;
	text-decoration: underline !important
	}
#footer a {
	text-decoration: underline;
}

/* =Layout
---------------------------------------------------------------------------------- */

@media screen and (max-width: 1000px) {
    #sidebar {
		margin-left: -240px !important;
		position: relative;
	}
}

#sidebar, ul.widgets {
	width: 240px !important;
}
ul.widgets li.widget {
	width: 240px !important;
}

body {
	background: #fff none;
	font: 62.5% "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
}

#header .logo_wrap {
	width: 100%;
}
#logo {
	color: #fff;
	padding-right: 20px;
	margin: 0 20px 0 0;
	text-shadow: 0 2px 0 #00b9ff;
	letter-spacing: -1px;
	float: left;
	}
#logo a {
	display: block;
	text-decoration: none !important;
	font-size: 3em !important;
	line-height: 1em !important;
	font-weight: bold;
	color: #fff;
}
#logo small {
	font-size: 1.1em !important;
	margin-top: 0.3em;
	display: block;
	color: #eac3c2;
	font-family: "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
}
#searchform div {
	height: 42px;
	background: #ebebeb;
	padding: 3px;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
}
#searchform div div {
	height: 40px;
	border-top: 1px solid #c6c6c6;
	border-left: 1px solid #c6c6c6;
	border-bottom: 1px solid #d8d8d8;
	border-right: 1px solid #d8d8d8;
	background: #fff url(../jobroller/images/search_input.png) repeat-x top;
	float: left;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	padding: 0;
}
#searchform input.text, #searchform select.search {
	border: 0;
	color: #999;
	background: transparent;
	float: left;
	vertical-align: middle;
	font-size: 16px;
	outline: 0 !important;
	width: 175px !important;
	padding: 5px 11px;
	margin: 6px 0;
}


#searchform #near {
	border-left: 1px dotted #ccc;
	border-right: 1px dotted #ccc;
	padding: 5px 11px;
	margin: 6px 0;
}


#searchform option {
    color: #333;
}

#searchform input.text + input.text{
    border-left: 1px dotted #ccc;
}
#searchform input.labelHighlight {
	color: #CCCCCC;
}
#searchform button.submit {
	vertical-align: top;
	padding: 0;
	margin: 0 2px 0 0;
	border: 0;
	float: right;
	height: 40px;
	width: 41px;
	background-image: url("../../uploads/2013/12/search.png");
}
div#content {
	background: url(../jobroller/images/style-pro-red/content.png) repeat-x top left;
	margin: 0 auto;
	padding: 1px 1px 0;
	}
div#content .inner {
	margin: -45px auto 0;
	position: relative;
	padding: 20px 20px 10px;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	background: #fff url(../jobroller/images/style-pro-red/pixel.png) repeat-y 690px;
}
	
.section, #searchform {
	margin: 0 0 20px;
	float: left;
	display: inline;
	}
div.section_content {
	padding: 0 0 10px;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #E4E4E4;
}
div.section_content h3 {
	padding-top: 11px;
    padding-bottom: 25px;
}
.section_header {
/*	padding: 0 0 20px; */

}

.section_footer {
	padding: 0;
	margin: 0 !important;
	list-style: none !important;
	overflow: hidden;
	background: #ebebeb;
}
.section_footer li {
	float: left;
}
.section_footer li a {
	float: left;
	padding: 20px 8px 20px 33px;
	font-weight: bold;
}
.apply-job {
    font-weight: bold;
    padding: 10px 8px 20px 33px;
}

.apply-job li {
    list-style: none;
}

.section li a:hover, .section_footer li a:active {
	color: #333;
}
#apply_form, #share_form {
	background: url(../jobroller/images/style-pro-red/form.png) repeat;
}
#apply_form {
	padding: 40px 0 30px;
}

#mainContent {	
	float: left;
	display: inline;
}
#sidebar {
	float: right;
	display: inline;
	}
.col-1 {
	width: 48%;
	float: left;
}
.col-2 {
	width: 48%;
	float: right;
}
.sexy-bookmarks {
	margin-bottom: 10px !important
}

/* =Headings
---------------------------------------------------------------------------------- */
.pagetitle {
	margin: 0 0 10px !important
}

/* =Wide Layout (no sidebar)
---------------------------------------------------------------------------------- */
.wider div#content .inner {
	background: #fff none;
}


/* =Pagination
---------------------------------------------------------------------------------- */
.paging {
	padding: 20px 0 4px;
	margin: 0 !important;
	overflow: hidden;
	line-height: 2em;
	}
.paging .top {
	float: right;
}
.paging .top a {
	color: #555;
	background: #fff;
	margin: 2px;
	padding: 2px 4px;
	border: 1px solid #D8D8D8;
}
.paging .top a:hover, .paging .top a:focus {
	color: #fff;
	background: #636363;
	border: 1px solid #636363;
	text-decoration: none !important;
}
.wp-pagenavi {
	float: left;
}
.wp-pagenavi span.current {
	border: 1px dotted #777 !important;
	color: #777 !important;
}
.wp-pagenavi span.pages {
	border: 1px solid #D8D8D8 !important;
	color: #555 !important;
}
.wp-pagenavi a, .comment-paging .page-numbers {
	border: 1px solid #D8D8D8 !important;
	background: #fff !important;
	color: #555 !important;
	margin: 2px;
	padding: 2px 4px;
}
.wp-pagenavi a:hover, .wp-pagenavi span.current, .comment-paging .page-numbers:hover, .comment-paging .current {
	border: 1px solid #636363 !important;
	background: #636363 !important;
	color: #fff !important;
	text-decoration: none !important;
}
.comment-paging {
	text-align: center;
	position: relative;
	margin-bottom: 20px;
	line-height: 1.4em;
}
.comment-paging .page-numbers {
	margin: 0;
}
.comment-paging .next {
	position: absolute;
	right:0;
	top:0;
	margin: -2px 0 0 0;
}
.comment-paging .prev {
	position: absolute;
	left:0;
	top:0;
	margin: -2px 0 0 0;
}

/* =Lists
---------------------------------------------------------------------------------- */
ol.jobs {
	margin: 0 !important;
	padding: 0 !important;
	border-top: 1px solid #ddd;
}
p.jobs {
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	padding: 8px 20px;
}
ol.jobs li.job {
	border-bottom: 1px solid #dadada;
	overflow: hidden;
	margin: 0 !important;
	padding: 8px 0;
	list-style: none outside;
	background: #fff;
}
ol.jobs li.job > div > a {
    float: left;
    margin: 10px 0px;
    border: 2px solid #FFF !important;
    color: #fff;
    font-size: 14px;
    line-height: 22px;
    background: #fb8a2e;
    padding: 4px 20px 3px 20px;
    border-radius: 50px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
}

ol.jobs li.job > div > a:hover {
	background: transparent;
    border-color: #fb8a2e !important;
    color: #393939;
}
ol.jobs li.job > div > a .fa {
    position: relative;
    color: #f8e400;
    font-size: 20px;
    vertical-align: middle;
    margin-left: 3px;
    top: -2px;
}
}
@media only screen and (max-width: 680px) {
	ol.jobs li.job > div > a {
		width: 100%;
	}
}
ol.jobs li.job-alt {
}
ol.jobs li.job-featured {
	background: #f9f1f6;
	border-color: #f4dae9;
}
ol.jobs li.job-featured.job-alt {
}
ol.jobs dl {
	font-size: 0.9em;
	margin: 0 !important;
	overflow: hidden;
}
ol.jobs dt {
	visibility: hidden;
	position: absolute;
	left: -9999em;
}
ol.jobs dd {
	float: left;
	color: #999;
	font-family: "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
}
ol.jobs dd a, h1 small a {
	color: #999;
	font-style: normal;
	text-decoration: underline;
}
ol.jobs dd.type {
	width: 100px;
	padding-right: 10px;
	vertical-align: middle;
	font-family: "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
}

ul.posts {
	margin: 0 !important;
	padding: 0 !important;
	list-style: none outside !important;
	border-top: 1px solid #ddd;
}
ul.posts li.post {
	border-bottom: 1px solid #ddd;
	overflow: hidden;
	margin: 0 !important;
	padding: 1.62em 0 0;
	list-style: none outside;
	background: #fff;
}
ul.posts li.post h2 {
	margin-bottom: 5px !important;
}

.type span {
	text-align: center;
	display: block;
	font-weight: normal;
	vertical-align: middle;
	line-height: 1em !important;
	padding: 2px 0;
	margin: 2px;
	background: url(../jobroller/images/overlay.png) repeat-x top;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
span.type span {
	font-size: 12px;
	float: left;
	vertical-align: middle;
	padding: 2px 16px;
	margin: 1px 8px 0 0;
}
.type span.full-time {
	background-color: #D72F1D;
	border: 2px solid #D72F1D;
	color: #fff !important;
}
.type span.part-time {
	background-color: #E3A029;
	border: 2px solid #E3A029;
	color: #fff !important;
}
.type span.freelance {
	background-color: #8CB90E;
	border: 2px solid #8CB90E;
	color: #fff !important;
}
.type span.temporary {
	background-color: #97479E;
	border: 2px solid #97479E;
	color: #fff !important;
}
.type span.internship {
	background-color: #3B6284;
	border: 2px solid #3B6284;
	color: #fff !important;
}

div.date {
	text-align: center;
	float: right;
	padding: 0 0 0 19px;
	line-height: 1.54em;
	font-family: "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
}
div.date span.year {
	padding: 5px 0px 0px;
	display: block;
}
ol.jobs dd strong, div.date strong, td.date strong {
	color: #555;
	display: block;
	font-size: 1.3em;
	font-weight: normal;
	font-family: "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
}
ol.jobs dd strong a {
	font-weight: bold;
	color: #555;
}

ol.jobs li.job-expired {
	color: #ddd !important;
	background: #fff !important;
	border-bottom: 1px solid #ddd !important;
	border-top: 0 !important;
}
ol.jobs li.job-expired a, ol.jobs li.job-expired strong, ol.jobs li.job-expired dd {
	color: #ddd !important;
}
ol.jobs li.job-expired .type span {
	background: #ddd none !important;
	border-color: #ddd !important;
}

ol.resumes {
	margin: 0 !important;
	padding: 0 !important;
	border-top: 1px solid #ddd;
}
ol.resumes li.resume {
	border-bottom: 1px solid #ddd;
	overflow: hidden;
	zoom: 1;
	margin: 0 !important;
	padding: 8px 0;
	list-style: none outside;
	background: #fff;
}
ol.resumes dl {
	font-size: 0.9em;
	margin: 0 !important;
	overflow: hidden;
}
ol.resumes dt {
	visibility: hidden;
	position: absolute;
	left: -9999em;
}
ol.resumes dd {
	float: left;
	color: #999;
	font-family: "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
}
ol.resumes dd strong {
	color: #555;
	display: block;
	font-size: 1.3em;
	font-weight: normal;
	font-family: "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
}
ol.resumes dd.photo {
	width: 46px;
	height: 38px;
}
ol.resumes dd.photo a img {
	display: block;
}
ol.resumes dd.title {
	width: 408px;
}
ol.resumes dd.location {
	width: 120px;
}

/* Main Nav */
#mainNav ul {
	margin: 0 !important;
	padding: 0;
	float: right;
	list-style: none !important;	
}
#mainNav li {
	float: left;
	line-height: 1em;
	display: inline;
	padding: 0;
	margin: 0 0 0.2em 10px;
	border-bottom: 2px solid #8f3331;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}
#mainNav li a {
	float: left;
	padding: 0.8em;	
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	color: #EAC3C2;
	text-decoration: none !important;
	background: #636363;	
}
#mainNav li a:hover, #mainNav li a:focus {
	background: #00b9ff;
}
#mainNav li.current_page_item a, #mainNav li.current_page_ancestor a,  #mainNav li.current_page_parent a, #mainNav li.current-cat a, #mainNav li.current-menu-item a {
	background: #fff;
	color: #00b9ff;
}
#mainNav li.current_page_item, #mainNav li.current_page_ancestor,  #mainNav li.current_page_parent, #mainNav li.current-cat {
}
/* Top Nav */
#topNav {
	padding: 0;
	margin: 0;
	background: #333 url(../images/style-pro-red/top.png) repeat-x bottom;
}
#topNav .inner {
	position: relative;
}
#topNav ul {
	margin: 0;
	float: left;
	padding: 0;
	text-align: left;
	line-height: 1 !important;
	font-size: 11px;
	border-right: 1px solid #393939;
	border-left: 1px solid #2c2c2c;
	}
#topNav li {
	list-style: none outside;		
	float:left;	
	position: relative;
	padding: 0 0 8px 0;	
	margin: 0 0 -8px 0;
	}
#topNav li a {
	color: #ccc;
	float:left;	
	text-decoration: none;
	margin: 0 !important;
	padding: 10px;
	border-left: 1px solid #393939;
	border-right: 1px solid #2c2c2c;
	}
#topNav li.right {
	float: right;		
}
#topNav li.right a {
	border-left: 1px solid #393939;
	border-right: 1px solid #2c2c2c;
}
#topNav li.current-menu-item a,
#topNav li.current_page_item a, #topNav li a:hover, #topNav li a:focus {
	background: #0091c8;
	text-decoration: none !important;
	color: #f7e4e4;
	border-color: #8f3331;
	border-left-color: #0091c8;
}
/* Dropdown */
#topNav ul ul {
	line-height: 1;	
    position:absolute;
    top: -999em;
	width: 18em;
    font-weight:normal;
    margin: 1px 0 0 0 !important;
    padding: 0 !important;
    border:0;     
    float: none !important;
    font-size: 1em;
    }
#topNav ul ul ul {
	margin: -1px 0 0 0 !important;
}
#topNav ul ul li {
    width: 100%;
    margin: 0;
    padding: 0;
    float:none;
    background: #333;
    border-left: 1px solid #393939;
    border-top: 1px solid #393939;
    border-right: 1px solid #2c2c2c;
    border-bottom:1px solid #2c2c2c; 
    }
#topNav ul ul li a {
    padding:0 10px;
    float: none;
    display: block;
    line-height: 2.5em !important;
    border:0;
    background: transparent !important;
    }
#topNav ul ul li.current-menu-item,
#topNav ul ul li.current_page_item  {
	border-color: #8f3331;
	background: #0091c8 !important;
	color: #f7e4e4;
    }
#topNav li:hover, #topNav li.sfhover {
    visibility: inherit; /* fixes IE7 'sticky bug' */
    }
#topNav ul ul li:hover {
    background:#0091c8;
    border-color: #8f3331;
    }
#topNav ul li:hover ul,
#topNav ul li.sfHover ul {
	left:			0;
	top:			2.86em; /* match top ul list item height */
	z-index:		99;
}
#topNav ul li:hover li ul,
#topNav ulli.sfHover li ul {
	top:			-999em;
}
#topNav ul li li:hover ul,
#topNav ul li li.sfHover ul {
	left:			18em; /* match ul width */
	top:			0;
}
#topNav ul li li:hover li ul,
#topNav ul li li.sfHover li ul {
	top:			-999em;
}
#topNav ul li li li:hover ul,
#topNav ul li li li.sfHover ul {
	left:			15em; /* match ul width */
	top:			0;
}

/* =Tables
---------------------------------------------------------------------------------- */
table { 
	font-size: 100%; /* IE hack */ 
}
table.data_list {
	width: 100%;
	margin-bottom: 20px;
	border-top: 1px solid #ddd;
}
table.data_list th {
	line-height: 2.3em;
	font-size: 0.85em;
	padding: 0 8px;
	color: #999;
	border-bottom: 1px solid #ddd;
	background: #fff;
}
table.data_list td {
	vertical-align: middle;
	line-height: 1.8em;
	padding: 0 8px;
	border-bottom: 1px solid #ddd;
}
table.data_list td.days {
	font-size: 1.19em;
	padding: 8px;
}
table.data_list td.actions a {
	margin-left: 8px;
}
table.data_list td.actions {
	text-align: right;
}
table.data_list td.date {
	text-align: center;
	color: #999;
	padding: 8px;
	font-size: 0.85em;
}


/* =Forms
---------------------------------------------------------------------------------- */
form.filter {
	padding: 8px 0;
	border-top: 1px solid #ddd;
	background: #fff;
	font-size: 0.8em;
}
form.filter p {
	float: left;
	margin: 0 10px 0 0 !important;	
	color: #777;	
}
form.filter input {
	vertical-align: middle;
}
form.filter .submit,
#commentform #submit {
	font-size: 1em;
	outline: 0;
	border: 0;
	background: #D8D8D8;
	color: #555;
	padding: 7px 10px;
	margin: -2px 0 0 0;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	vertical-align: middle;
}
form.filter .submit:hover, form.filter .submit:focus,
#commentform #submit:hover, #commentform #submit:focus {
	background: #636363;
	color: #fff
}
form.main_form fieldset {
	padding: 0 0 0 0;
}
form.main_form legend {
	margin: 15px 0 0;
	padding: 10px 0;
	font-weight: bold;
}
form.main_form input.text,
form.main_form textarea,
form.main_form.contact_form textarea,
form.account_form input.text {
	border-top: 1px solid #aaa;
	border-left: 1px solid #aaa;
	border-bottom: 1px solid #ccc;
	border-right: 1px solid #ccc;
	background: #fff;
	color: #777;
	font-size: 1.2em;
	padding: 7px;
	width: 50%;
	margin: 0;
	outline: 0;
	-khtml-border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px; /* optional rounded corners for browsers that support it */
}
form.main_form input.text:focus,
form.main_form textarea:focus,
form.account_form input.text:focus {
    background: #f3f3f3;
}
form.account_form input.text {
	width: 92%;
}
form.main_form select {
	color: #777;
	font-size: 1.2em;
	width: 52.5%;
	margin: 6px 0;
	padding:7px;
	-khtml-border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px; /* optional rounded corners for browsers that support it */
}
form.main_form textarea {
	vertical-align: top;
	height: 200px;
	font-size:1.1em;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, sans-serif;
}
form.submit_form textarea {
	width: 634px;
}
form.main_form textarea.short, form.submit_form textarea.short {
	width: 50%;
	height: 50px;
	font-size: 1.2em;
	padding: 7px;
}

form.main_form .description {
	display: block;
	font-size: 0.8em;
	color: #777;
}
form.main_form p label {
	width: 46%;
	float: right;
	padding-top: 6px;
}
form.main_form p,
form.account_form p {
	clear:both;
	margin: 10px 0 !important;
	padding: 0 2px !important;
	overflow: hidden;
}
form.main_form p.optional input.text, form.main_form p.optional textarea {
	border: 1px solid #ddd;
}
form.main_form p.optional label {
	color: #999;
}
form.main_form .submit,
form.account_form .submit,
p.button a {
	font-size: 1.2em;
	outline: 0;
	border: 0;
	background: #D8D8D8;
	color: #555;
	padding: 7px 10px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	vertical-align: middle;
	margin: 0;
	text-decoration: none !important;
}
form.account_form a.lostpass {
	padding: 10px 20px;
	float: left;
}
form.main_form .submit:hover, form.filter .submit:focus, form.account_form .submit:hover, p.button a:hover {
	background: #636363;
	color: #fff;
	text-decoration: none !important;
}
.ui-autocomplete { 
	position: absolute; 
	cursor: default; 
	list-style:none;
	padding: 5px;
	margin: 0;
	display:block;
	background: #F0F0F0;
	border: 1px solid #999;
	text-align: left;
	font-size: 1.3em;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	-webkit-border-bottom-left-radius: 6px;
	-webkit-border-bottom-right-radius: 6px;
	-moz-border-radius-bottomleft: 6px;
	-moz-border-radius-bottomright: 6px;
}
.ui-autocomplete li {
	margin:0;
	padding: 0;
	width: 100%;
}
.ui-autocomplete li a {
	text-decoration:none;
	display:block;
	padding:3px 6px;
	line-height:2em;
	zoom:1;
	color: #555;
}
.ui-autocomplete li a:hover, .ui-autocomplete li a.ui-state-hover {
	background: #D8D8D8;
	text-decoration:none;
}
.ui-autocomplete-loading { background: #fff url('../images/loading.gif') right center no-repeat; }
* html .ui-autocomplete { width:1px; } /* without this, the menu expands to 100% in IE6 */

/* =Comments
---------------------------------------------------------------------------------- */
ol#comment-list li.bypostauthor .comment-text, ol#comment-list li.bypostauthor img.avatar {
	border-color: #edd6db;
}

span#comments-rss a {
	float: right;
	font-size: 0.6em;
	border-bottom: 1px solid #C7E4F1;
	text-decoration: none;
	color: #222;
	}




/* =Widgets
---------------------------------------------------------------------------------- */
ul.widgets {
	margin: 0 !important;
	padding: 0;
	text-align: left;
	float: left;
	border-bottom: 1px solid #fff;
	}
ul.widgets li.widget {
	list-style-type: none;
	margin: 0;
	padding: 30px 0 10px 0;
	font-size: 0.8em;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #ddd;
	color: #777;
	float: left;
	list-style: none outside !important;
	}
ul.widgets li.widget-submit {
	padding: 0;
	border-top: 0;
	border-bottom: 1px solid #ddd;
	margin-top: 24px;
}
ul.widgets li.widget-submit div {
	text-align: center;
	margin: 0 0 20px !important;
	padding: 3px !important;
	background: #ebebeb;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
}
ul.widgets li.widget-submit div p {
	margin: 12px 0 !important;
}
ul.widgets li.widget-submit div p.pricing {
	font-size: 1.3em;
	font-style: italic;
	color: #999;
	line-height: 1em;
}
ul.widgets li.widget-submit div p.pricing em {
	font-family: "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
	font-size: 1.4em;
	color: #555;
	font-style: normal;
}
a.button {
	background: #049dd2;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	display: block;
	text-align: center;
	font-weight: bold;
	color: #fff !important;
	text-decoration: none;
	padding: 2px;
	line-height: 36px;
	font-size: 16px;
	text-decoration: none !important;
}
a.button span {
	border: 1px dashed #077093;
	display: block;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	text-decoration: none !important;
}
a.button:hover {
	background: #666 none;
	color: #636363;
	text-decoration: none !important;
}
a.button:hover span {
	border-color: #ddd;
	text-decoration: none !important;
}

ul.widgets li.widget ul {
	margin: 0 !important;
	padding: 10px 0 !important;
	list-style: none !important;
}
ul.widgets li.widget ul ul {
	padding: 5px 0 0 !important;
}
ul.widgets li.widget ul ul li {
	margin: 0 20px 0 !important;
	border: 0;
	padding: 0 !important;
}
ul.widgets li.widget h2.widget_title {
	padding: 0;
	margin: 0;
	font-weight: bold;
}
ul.widgets li.widget .widget_content {
	padding: 0;
	overflow: hidden;
}
.textwidget {
	padding: 10px 0 !important;
}
/* Search Widget */
.widget_search .widget_content {
	padding: 15px 10px 0 !important;
}
.widget_search input#s {
	border: 1px solid #8D8B8B;
	background: #f7f7f7;
	width: 188px !important;
	display: inline;
}
.widget_search #searchsubmit {
	color: #363636;
	background: #fff;
	border: #fff;
	font-weight: bold;
	cursor: pointer;
	border: 0;
	outline: 0;
	display: inline;
	font-size: 11px;
}
.widget_search label {
	display: none;
}	

.widget_rss img {
	vertical-align: middle;	
	position: relative;
	margin-top: -3px;
}
li.widget_categories li.current-cat a,
li.widget_pages li.current_page_item a {
	font-weight: bold;
}
li.widget_categories li.current-cat li a,
li.widget_pages li.current_page_item li a { 
	font-weight: normal;
}
/* Tags Widget */	
.widget_tag_cloud .widget_content div {
	line-height: 2em;
	overflow: hidden;
	padding: 10px 0;
	}
/* Calendar Widget */	
.widget_calendar th {
	font-weight: bold;
	background: #ebebeb;
	padding: 2px 5px 2px 5px;
	font-size: 1em;
	border-bottom: 1px dotted #ddd;
}
.widget_calendar tbody td {
	border:0;
	font-size: 1em;
	padding: 2px 5px 2px 5px;
	text-align: center;
	background: #efefef;
	}
.widget_calendar tbody td#today {
	font-style: italic;
}
.widget_calendar tbody tr td:hover {
	background-color: #d8d8d8;
	border:0;
	}
.widget_calendar tbody td a {
	text-decoration: none;
	font-weight: bold;
	font-style: italic;
	}
.widget_calendar #prev,
.widget_calendar #next {
	padding: 5px 0 0 0;
}
.widget_calendar #next {
	text-align: right;
}
.widget_calendar #prev a,
.widget_calendar #next a {
	color: #777 !important;
	font-weight: bold;
	font-style: italic;
	}
.widget_calendar thead th {
	text-align: center;
	}
.widget_calendar caption {
	text-align: center;
	font-weight: bold;
	padding-bottom: 5px;
}
div#calendar_wrap {
	padding: 0 0 10px;
	}
.widget_calendar table {
	width: 100%;
	}


/*=Responsive
---------------------------------------------------------------------------------------*/

@media screen and (max-width: 1000px) {

	div#content .inner {
		background: #fff url(../jobroller/images/style-pro-red/pixel.png) repeat-y right 300px top 0;
	}
	div#content .inner {
		padding: 2%;
	}
	form.main_form p label {
		width: 45%;
	}
	#commentform textarea,
	form.main_form textarea {
		width: 90%;
	}
	/* resumes */
	ol.resumes dd.title {
		width: 47%;
	}
}

@media screen and (max-width: 860px) {

	
	#sidebar {
		display:none;
	}
	
	
	div#content .inner {
		background: #fff;
	}
	#logo {
		padding-right: 0;
	}
	#logo a,
	#logo small {
		text-align: center;
	}
	#logo small {
		margin-bottom: 25px;
	}
	#sidebar, 
	ul.widgets,
	ul.widgets li.widget-submit,
	ul.widgets li.widget {
		float: left; 
		width: 100%;
	}
	/* resumes */
	ol.resumes dd.title {
		width: 60%;
	}
}




.fixedwidth {
	padding: 0 20px;
}


@media screen and (min-width: 860px) {
	
	.fixedwidth {
		margin: 0 auto;
		width: 920px;
		clear:both;
	}
	
	
	.role-not-sure {
		display:none;
	}
	
}







@media screen and (max-width: 710px) {
	
	#searchform button.submit {
		float: left;
	}
	/* resumes */
	ol.resumes dd.title {
		width: 47%;
	}
}

@media screen and (max-width: 600px) {

	#header .logo_wrap {
		display: block;
	}
	#logo,
	#mainNav {
		display: block;
		width: 100%;
	}
	#mainNav {
		text-align: center;
	}
	#mainNav ul {
		margin: 0 auto -20px!important;
		float: none;
	}
	#mainNav ul li {
		display: inline-block;
		text-align: center;
		float: none;
		margin: 0 5px 30px;
	}
	#mainNav li a {
		float: none; 
	}
	/* apply for this job form */
	form.main_form p label {
		width: auto;
		float: none;
		padding-top: 0;
		text-align: left;
		display: block;
		padding-bottom: 6px;
	}
	form.main_form input.text,
	form.main_form textarea,
	form.main_form.contact_form textarea, 
	form.account_form input.text, 
	#apply_form textarea {
		width: 90%;
	}
	/* login/register forms */
	.col-1,
	.col-2 {
		width: auto;
		float: none;
	}
	.col-1 {
		margin-bottom: 1.65em;
	}
	/* resumes */
	ol.resumes dd.title,
	.wider ol.resumes dd.title {
		width: 100%;
		padding-bottom: 10px;
	}
	ol.resumes dd.photo {
		clear: left;
	}
	ol.resumes dd.location {
		width: 50%;
	}
}

@media screen and (max-width: 400px) {

	#searchform input.text {
		width: 90%!important;
	}
}
