/*
Theme Name:     Arch Job Board
Theme URI:      http://www.archapprentices.co.uk
Description:    Job Board for Arch
Template:       jobroller
Version:        0.1.0
*/




@import url("arch.css");
@import url("style-pro-arch.css");

@import url("//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css");


body {
	line-height: 1.5;
	color: #6A6F72; 
	background:#fff; 
	/*min-width:960px;*/
	-webkit-font-smoothing: antialiased;	
}

a:link, a:visited { 
	color: #00adee; 
	text-decoration: none; 
}
a:hover, a:active { 
	color: #00adee; 
	text-shadow: none;
	text-decoration: none !important;
	border-bottom: 1px dotted #00adee;
}

.left {float:left;}
.right {float:right;}
.both {clear:both;}

/* new clearfix */
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

.btn_hide_by_default {
	display: none !important;
}





/*
a.logo {
	background-image: url(http://www.archapprentices.co.uk/wp-content/themes/arch/images/logo.png);
	background-position: top left;
	background-repeat: no-repeat;
	border:0;
	float:left;
	display:block;
	text-indent:-999em;
	overflow:hidden;	
	width:231px;
	height:59px;	
	margin:0;
}

#header .left {
	padding:24px 0 19px 2px;
}

#header .fixedwidth {
	width:924px;
}

.nav-band {
	background:url(http://www.archapprentices.co.uk/wp-content/themes/arch/images/nav-band.png) top left no-repeat;
	clear:both;	
	position: relative;
}*/



/* resets for bootstrap */




* {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

header *, footer * {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

footer {
	font-size:14px !important;
}


footer .ctas-footer, footer .sn-footer {
	display:none;
}




/* currently only used with html from main site */
.wrapper {
	width: 100%;
	max-width: 1170px;
	margin: 0px auto;
}


#header .socials a {
	padding-top:0;
}


.arch-footer {
	font-family:'Roboto', arial, sans-serif;
}



#footer_connect h3 {
	color:#FFF !important;
	margin:0;
	padding:0;
}


.join_mail_list {
	display:none;
}



/* hide the bar above the footer on the jobs board (comes from main site)
   as we need the twitter and facebook api included which we dont have
*/
#share_on_mobile_footer {
	display:none;
}



.block {display:block;}




/* ToDo: rethink.. */
.read-more-hide {
	position: absolute;
	left: -9000px;
	width: 900px;
}

/* #commentform input, #commentform textarea { width:300px; } */

.navigation {
	text-transform: uppercase;
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
	font-size: 13px;
	line-height: 16px;
	letter-spacing: 1px;	
	padding: 6px 0;
	margin-bottom: 20px;
}

/* .navigation .pagin-active { border:1px #fff solid; font-weight:bold; padding: 2px 4px; color: #fd249c; } */

.navigation a {
	border: 1px #ddd solid; 
	padding: 2px 6px;
	float:left;
	display:block;
}




/* =Sidebar
-------------------------------------------------------------- */

.sidebar {
	width:210px;
	float:left;
	min-height:1px;
	_padding-bottom:1px;
}


.phone-header {
    background-color: #FE249C;
    color: white;
    padding: 3px 10px;
    font-weight: bold;
    font-size:24px;
}


/* =Main nav
-------------------------------------------------------------- */


/*.mti-inactive .sf-menu { 
	font-size: 12px;
	line-height: 15px;
}


.sf-menu li.home { background:none; }


.sf-menu li.home a {
	padding: 13px 10px 14px 19px;
}
.sf-menu li.home a span {
	background: url('http://www.archapprentices.co.uk/wp-content/themes/arch/images/nav-home-idle.png') top left no-repeat;
	width: 22px;
	height: 23px;
	overflow: hidden;
	display: block;
	text-indent: -99em;
}
.sf-menu li.home a:hover span {
	background-position: -122px 0;
}


.sf-menu li:hover a, 
.sf-menu li.sfHover a, 
.sf-menu li.current a,
.sf-menu li a:hover {
	background-color: transparent;
	color: #fff;
}


.sf-menu .dd-top, 
.sf-menu .dd-bottom {
	display: block;
	float: left;
	position: relative;
	width: 227px;
	overflow: hidden;
}

.sf-menu .dd-top {
	height: 8px;
	background: url('http://www.archapprentices.co.uk/wp-content/themes/arch/images/dd-top.png') top left no-repeat;
	
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF)"; 
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF); 
    zoom: 1;

}
.sf-menu .dd-bottom {
	height: 12px;
	*height: 4px;
	*overflow: hidden;
	background:url('http://www.archapprentices.co.uk/wp-content/themes/arch/images/dd-bottom.png') top left no-repeat;
	*background:url('http://www.archapprentices.co.uk/wp-content/themes/arch/images/dd-bottom-ie7.png') top left no-repeat;
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF)"; 
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF); 
    zoom: 1;

}

.sf-menu div.ul { 
	z-index: 901;
	position: absolute;
	clear: both;
	left: -999em;
	width: 227px;
	margin-top: -10px; 
	margin-left: 0;
}

.sf-menu div.ul-shadow {
	float: left;
	position: relative;
	clear: both;
	padding: 0 4px 0 2px;
	background: transparent url('http://www.archapprentices.co.uk/wp-content/themes/arch/images/ul-shadow.png') top left no-repeat;
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF)"; 
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF); 
    zoom: 1;
}

.sf-menu div.ul-items {
	float: left;
	position: relative;
	background: url('http://www.archapprentices.co.uk/wp-content/themes/arch/images/ul.png') bottom left no-repeat;  
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF)"; 
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF); 
    zoom: 1;
}

.sf-menu ul { 
	float: left;
	font-size: 15px;
	line-height: 19px;
	list-style-type: none;
	position: relative;
	margin-bottom: -8px;
	*margin-bottom: 0;
}

.sf-menu ul li {
	clear: both;
	text-transform: none;
	letter-spacing: 0;
	font-size: 1em;
	margin-right: 0;
}

.sf-menu ul li, 
.sf-menu ul li:hover,
.sf-menu ul li.sfHover {
	background: transparent url('http://www.archapprentices.co.uk/wp-content/themes/arch/images/dd-line.png') top left no-repeat !important;
}
.sf-menu ul li.first {
	background: transparent none !important;
}

.sf-menu ul li a {
	background-color: transparent !important;
	background-image: none !important;
}


.sf-menu ul li a {
	float: left;
	width: 203px;
	padding: 9px 9px 9px 9px;
	height: auto;
	line-height: 16px;
	text-shadow:none;
} 


.sf-menu li ul li a {
	color: #333 !important;
	background: url('http://www.archapprentices.co.uk/wp-content/themes/arch/images/dd-a-hover.png') -400px 0 no-repeat !important;
}

.sf-menu li ul li a:hover {
	color: #fff !important;
	background-position: top left !important;
	text-shadow: 0 -1px 0 rgba( 0, 0, 0, 0.5 );
}

.sf-menu li ul li.last {}
.sf-menu li ul li.last a {
	padding-bottom:12px;
	background: url('http://www.archapprentices.co.uk/wp-content/themes/arch/images/dd-a-hover-last.png') -400px 0 no-repeat !important;
	*background: url('http://www.archapprentices.co.uk/wp-content/themes/arch/images/dd-a-hover.png') -400px 0 no-repeat !important;
}
.sf-menu li ul li.last a:hover {
	background-position: top left !important;
}



.sf-menu li:hover div.ul, 
.sf-menu li.sfHover div.ul { 
	left: 0; 
}
*/

#mainContent {
    margin-top: 20px !important;
}


/*

#footer {
	font-size:12px;
	line-height:15px;
	background:#201F21;
	color:#929497;
	text-shadow:0 1px 0 #000;
	padding-top:13px;
	padding-bottom:46px;
	background-image: url('http://www.archapprentices.co.uk/wp-content/themes/arch/images/approved-footer2.png');
	background-repeat: no-repeat;
	background-position:right;
}


#footer a, .upper-footer a {
	border:0;
}
#footer a.current, #footer a:hover, .upper-footer a:hover {
	text-shadow:0 1px 0 rgba(0,0,0,0.5);
}



.footer-first {

	padding-top:28px;
	padding-bottom:8px;
	
}
.footer-second {



}
.upper-footer {
	background: #3E4142 url('http://www.archapprentices.co.uk/wp-content/themes/arch/images/footer-bg-tile.png') top center repeat-x;
	color:#8F9599;
	text-shadow:0 1px 0 rgba(0,0,0,0.75);
}
.upper-footer .footer-inner {
	background:url('http://www.archapprentices.co.uk/wp-content/themes/arch/images/footer-bg-center.jpg') top center no-repeat;
	padding-top:25px;
}
.upper-footer .sidebar-footer-left {
	width:605px;
	margin-right:21px;
}
.upper-footer .sidebar-footer-right {
	width:294px;
}
.upper-footer .sidebar h3 {
	padding:0 0 0 2px;
	margin:0;
	border:0;
	font-size:24px;
	line-height:30px;
	color:#A2A7AB;	
	letter-spacing:-1px;
	border-bottom:4px #3E4142 solid;
	margin-bottom:10px;
}
.upper-footer .sidebar .widget {
	margin:0 0 32px 0;
}
.upper-footer .sidebar .textwidget {
	padding:0;
}
.upper-footer .sidebar ul,
.upper-footer .sidebar p {
	padding:0 !important;
	margin:0 !important;
	font-size:12px;
	line-height:15px;
}
.upper-footer .sidebar h4 {
	font-size:12px;
	line-height:15px;
}
*/










a.underline {
	text-decoration:underline;
}
span.underline {
	color:#00adee;
	text-decoration:underline;
}
a:hover span.underline {
	color:#fff;
	background:#00adee;
}

.upper-footer .recent_with_excerpt li {
	padding-top:31px;	
}
.upper-footer .recent_with_excerpt li.first {
	padding-top:0;
}
.upper-footer .recent_with_excerpt p.more-p {
	padding-top:15px !important;
}

.whats_new li {
	/*width:293px;	*/
	width:280px;
	padding-right:13px;
	float:left;
	position:relative;
}
.whats_new .post-thumbnail {
	position:relative;
	margin-left:-5px;
	margin-top:-5px;
}
.whats_new .layer-img {
	position:relative;
	z-index:1;
	padding:10px;	
}
.whats_new .layer-frame {
	position:absolute;
	z-index:2;
	top:0;
	left:0;
	background:url('http://www.archapprentices.co.uk/wp-content/themes/arch/images/footer-frame.png') top left no-repeat;
	width:284px;
	height:116px;
	padding:10px;
}
.whats_new .layer-frame .dark-bg {
	display:block;
	position:absolute;
	bottom:10px;
	left:10px;
	width:266px;	
	background: url('http://www.archapprentices.co.uk/wp-content/themes/arch/images/black70.png') top left repeat;
	background: rgba( 0, 0, 0, 0.70 );
	font-size:14px;
	line-height:18px;
	padding:6px 9px 2px 9px;
	color:#fff;
}


.whats_new .featured h4 a { display:block; border:0;}
.whats_new .featured h4 a:hover { background:transparent; }
.whats_new .other_post h4 { clear:none; }
.whats_new li.featured {padding-bottom:8px;}
.whats_new li.other_post {padding-bottom:13px;}
.whats_new .other_post img {
	border-bottom:1px #101011 solid;
	display:block;
	margin-right:7px;
	margin-top:3px;
	float:left;
}


.sidebar .marg_n_clr {
	clear:both;
	margin-right:19px;
}

.whats_new .col { width: 293px; float: left;}
.whats_new .col1 { margin-right: 13px;}



form p {
    padding: 3px !important;
    font-size: 14px !important;
}

h1#maintitle {
	font-size:44px;/*43*/
	line-height:55px; /* set it up! */
	color:#58595B !important;
	margin-bottom:0;/*5px;	*/
	border-bottom:8px #ced3d4 solid;
	padding-top:34px;
	padding-bottom:5px;
	margin-bottom:7px;
}


.main.main-page {
	padding-top:150px;
}

.main-page h1 span {
	display:block;
}

h2 {
    font-size: 34px;
}

h1, h3 {
    padding-bottom: 20px;
    font-size: 24px;
    color: #00adee !important;
}

.section_content p {
    font-size: 13px !important;
}

.meta em a[href*='/salary/']::after {
	content: 'pa';
}

.display_section {
    font-size: 14px;
}

.main-page ul li {
    font-size: 13px !important;
}

#sidebar h2 {
    font-size: 18px !important;
}

.header-cta {
	margin-top: 25px;
	width: 477px;
	height: 55px;
	background: url(http://www.archapprentices.co.uk/wp-content/uploads/2013/11/header-phonecta.png);
}

#job_list li a.job_title {
    color: #089dd3 !important;
}


#job_list .job-remove {
	display:none;
}

#notsure {
    width: 179px;
    padding: 30px 30px; 
    text-align: center; 
    margin: 26px auto 0; 
    line-height: 26px; 
    border: 1px solid #ced3d4; 
    font-size: 23px; 
    font-weight: 700; 
    color: #1c7cbc;
    float: left;
}
.clickapply {
	width: 100%;
}
.clickapply a { 
	width: 100%;   
	float: left;
    margin: 10px 0px;
	border: 2px solid #FFF !important;
	color: #fff;
	font-size: 16px;
    line-height: 22px;
    background: #fb8a2e;
    font-weight: bold;
    padding: 12px 0px;
    border-radius: 50px;
    width: 100%;
}

.clickapply a:hover {
	background: transparent;
    border-color: #fb8a2e !important;
    color: #393939 !important;
}
.clickapply .fa {
    color: #f8e400;
    font-size: 25px;
    vertical-align: middle;
    margin-left: 3px;
}
.clear {
	clear: both;
}
#notsure a {
    color: #fff;
    text-decoration: none;
    border: none;
}

a {
    border: none !important;
}

.page-numbers {
    font-size: 14px !important;
}






.role-not-sure {
	
	clear: both;
	float: left;
	padding: 10px 22px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 15px;
	font-weight: bold;


}


.role-not-sure p {
	margin:0;
}




.hidden-brands {
	display:none;
}







