/*
Theme Name:     .rising Jobs
Author:         rumo
Template:       jobroller
Version:        0.1.0
*/



@import url("../jobroller/style.css");
@import url("../jobroller/styles/style-pro-red.css");

/*************************
* Fonts
*************************/
@font-face {
    font-family: 'bebasregular';
    src: url('fonts/bebas___-webfont.eot');
    src: url('fonts/bebas___-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/bebas___-webfont.woff') format('woff'),
         url('fonts/bebas___-webfont.ttf') format('truetype'),
         url('fonts/bebas___-webfont.svg#bebasregular') format('svg');
    font-weight: normal;
    font-style: normal;

}



/*************************
* Header
*************************/
#header 
{
	background: none;	
	background-color: #fff;
	height: 120px;
}


#header .inner
{
	padding-top: 15px;
}

#logo a
{
	cursor: default;
}

/*************************
* Navigation
*************************/
#topNav
{	
	background-color:#231F20;
}


#topNav li,
#topNav ul,
#topNav li a,
#topNav li.right a
{
	border: none;
	color: #fff;	
	font-family: arial, sans-serif;	
}

#topNav li a,
#topNav li.right a 
{	
	font-size: 13px;
	line-height: 10px;
	font-family: bebasregular;
}

#topNav li.current-menu-item a, 
#topNav li.current_page_item a, 
#topNav li a:hover, 
#topNav li a:focus
{
	background-color:#fff;
	color: #444;
}

/*************************
*  Content
*************************/
div#content .inner
{
	margin-top: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
}



#mainContent
{
	padding: 15px;	
}


div#content .inner
{
	width: 990px;
	padding: 0;
}


#sidebar
{
	padding:20px;
	
}

#mainContent.nosearch
{
	padding-top: 20px;
}


#content img.attachment-blog-thumbnail,
#content img.attachment-post-thumbnail
{
	float: right;
	margin-left: 15px;
}


#mainContent .meta {
	margin-top: 20px;
}

/*************************
*  Buttons
*************************/


a.button
{
	background: #049DD2;
	text-shadow: 0 -1px 0 #077093;
}

a.button:hover
{
	background: #049DD2;
	color: #fff;
	text-shadow: 0 -1px 0 #077093;
}

a.button span
{
	border: 1px dashed #077093;
}


form.main_form .submit, 
form.account_form .submit, 
p.button a 
{
	background: #1AB0C8;
	text-shadow: 0 -1px 0 #077093;
	color: #fff;
}

form.main_form .submit:hover,
form.filter .submit:focus,
form.account_form .submit:hover,
p.button a:hover 
{
	background: #2e4c79;
}


ol.steps li.current span
{
	color: #fff;
	background: #1AB0C8 url(images/step_active.png) no-repeat right;
}


ol.steps li.previous span
{
	background: url(images/step_done.png) no-repeat right;
}
